{% extends 'dog_aid/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Appointments
{% endblock %}

{% block body_block %}
<div class="jumbotron p-4 bg-white border border-warning">
    <div class="container">
        <h1 class="jumbotron-heading text-danger">Appointments</h1>
        <div>Search any key word to find the appropriate result</div>
    </div>
</div>
<div class="container mx-auto w-90 ml-9" style="width:500px">
    <div class="col-md-4">
        <div class="mx-auto w-90 ml-9" style="width:500px">
                <div class="card-body">
                    <div class="dropdown">
                        <div class="form-group">
                            <label for="sel1">Select type of appointment:</label><select class="form-control" id="sel1" default="">
                            <option></option>
                            <option>Vet</option>
                            <option>Administer medicine</option>
                            <option>Grooming</option>
                            <option>Classes</option>
                            <option>Other</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group mx-auto w-90 ml-9" style="width:500px">
                <label for="comment">Notes:</label>
                <textarea class="form-control" rows="5" id="comment"></textarea>
            </div>
        </div>
    </div>
</div>
{% endblock %}