{% extends 'dog_aid/base.html' %}
{% load staticfiles %}
{% load dog_aid_template_tags %}

{% block title_block %}
    Emergency
{% endblock %}

{% block body_block %}
<div class="jumbotron p-4 bg-white border border-warning">
    <div class="container">
        <h1 class="jumbotron-heading text-danger">Emergency first aid</h1>
        <div>Search any key word to find the appropriate result</div>
    </div>
</div>

<div class="container-fluid d-flex justify-content-center">
    <div class="row">
        <div class="w-40 ml-3">
            Type to find an illness:<br/><br/>
            <form><input class="search-query form-control" type="text" name="emergency_suggestion" value=""
                       id="emergency_suggestion"/></form>
            <div id="emergency_suggest">
                <div class="container">
                    <div class="row">
                        <div class="w-5 ml-8">
                            <div class="card-body">Illnesses: {% get_emergency_list emergency_illnesses %}</div>
                            <div class="card-body">Symptoms: {% get_symptom_list emergency_symptoms %}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}