{% extends 'dog_aid/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
<div class="jumbotron p-4 bg-white border border-warning">
    <div class="container">
        <h1 class="jumbotron-heading text-success">Welcome to Dog Aid</h1>
        <div>How can we help?</div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 border border-warning">
                <div class="card-body">
                    <h2 class="text-success">Dog first aid</h2>
                    <div>Learn how to treat your dog's medical needs and prepare for an emergency situation</div><br/>
                    <p class="card-text">
                        <a href="{% url 'dog_aid:emergency' %}" class="btn btn-warning" role="button">Dog first aid</a>
                    </p>
                </div>
            </div>
        </div>
        {% if user.is_authenticated %}
        <div class="col-md-4">
            <div class="card mb-4 border border-warning">
                <div class="card-body">
                    <h2 class="text-success ">View your profile</h2>
                    <div>View and edit your profile</div><br/>
                    <p class="card-text">
                        <a href="{% url 'dog_aid:profile' user.username %}" class="btn btn-warning" role="button">Profile</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 border border-warning">
                <div class="card-body">
                    <h2 class="text-success ">View your dog's profile</h2>
                    <div>View and edit your dog's profile</div><br/>
                    <p class="card-text">
                        <a href="{% url 'dog_aid:dog_profile_list' %}" class="btn btn-warning" role="button">List of your dog profiles</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 border border-warning">
                <div class="card-body">
                    <h2 class="text-success ">View your vets</h2>
                    <div>Contact your vet</div><br/>
                    <p class="card-text">
                        <a href="{% url 'dog_aid:vet_list' %}" class="btn btn-warning" role="button">Your vets</a>
                    </p>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-md-4">
            <div class="card mb-4 border border-warning">
                <div class="card-body">
                    <h2 class="text-success">Login to your profile</h2>
                    <div>View your profile</div><br/>
                    <a href="{% url 'auth_login' %}" class="btn btn-warning" role="button">Login</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 border border-warning">
                <div class="card-body">
                    <h2 class="text-success">Create a profile</h2>
                    <div>Register your details and create a profile for you dog to register their details</div><br/>
                    <p class="card-text">
                        <a href="{% url 'dog_aid:register' %}" class="btn btn-warning" role="button">Register</a>
                    </p>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="col-md-4">
            <div class="card mb-4 border border-warning">
                <div class="card-body">
                    <h2 class="text-success">General first aid</h2>
                    <div>View the full list of dog first aid</div><br/>
                    <p class="card-text">
                        <a href="{% url 'dog_aid:illness_all' %}" class="btn btn-warning" role="button">Genral first aid</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 border border-warning">
                <div class="card-body">
                    <h2 class="text-success">Quiz</h2>
                    <div>Take the quiz to test your knowledge of dog first aid</div><br/>
                    <a href="{% url 'dog_aid:quiz' %}" class="btn btn-warning" role="button">Quiz</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 border border-warning">
                <div class="card-body">
                    <h2 class="text-success">Training</h2>
                    <div>Learn techniques to train your dog</div><br/>
                    <a href="{% url 'dog_aid:training' %}" class="btn btn-warning" role="button">Training</a>
                </div>
            </div>
        </div>
    </div>
</div>

<h2 class="text-success">You can also...</h2><br/>
<div>Use the search bar on the sidebar to find the page you need</div><br/>
<div>Use the menu bar at the top of the screen to navigate</div><br/><br/><br/>
<!--Search bar/menu bar lights up when you hover over words?-->
<!--Or the words "search bar"/"menu bar" are same colour as search bar/menu bar?-->

{% endblock %}