{% extends 'dog_aid/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Quiz
{% endblock %}

{% block body_block %}
<div class="jumbotron p-4 bg-white border border-warning">
    <div class="container">
        <h1 class="jumbotron-heading text-success">Dog training</h1>
    </div>
</div>
<h3 class="d-flex justify-content-center" style="text-decoration: underline">Under construction</h3>
<h6 class="d-flex justify-content-center">This page is currently under construction.</h6>

{% endblock %}